body{
    background-image: url(images/top-section-bg.jpg);
    background-size: cover
    
}
 h1{
   display: inline;
    font-size: 30px;
    color: red;
    background-color: green;
    border: 20px;
    border-radius: 10px 10px 10px;
    margin: 10px;
 }
  #tech{
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(118, 247, 14);
    border: 10px solid rgb(122, 10, 228);
    padding: 10px 10px 10px;
    margin: 40px;
    border-radius: 10px 10px 10px;
    box-shadow: 10px 10px 10px 10px rgb(7, 221, 193);
    background-image: url(images/ai-powered-device-concept.jpg);
    background-position: right;
    background-size: cover;
 }
 #adv{
    color: rgb(0, 14, 14);
    margin: 40px;
    border: 10px solid #f2f5f5;
    border-radius: 5px 10px 15px;
    box-shadow: 4px 8px 12px 16px yellowgreen;
    padding: 10px 10px 10px;
    text-align: justify;
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-decoration: solid;
    background-image: url(images/digital-art-beautiful-mountains.jpg);
    background-position: left;
    background-size: cover;
 }
 .img_rapper{
    display: flex;
    justify-content: start;
 }
 .ink_rapper{
    display: flex;
    justify-content: end;
 }